.theme-light {
    --bg-background-primary: #fafafa;
    --bg-background-secondary: #b9b7b7;
    --bg-background-tertiary: rgb(230, 230, 230);
    --text-color-primary: #505050;
    --text-color-tertiary: #b9b7b7;
}

.theme-dark {
    --bg-background-primary: #4b4b4b;
    --bg-background-secondary: #b9b7b7;
    --bg-background-tertiary: #505050;
    --text-color-primary: #e7e7e7;
    --text-color-tertiary: #b9b7b7;
}

:root {
    --bg-background-primary: #4b4b4b;
    html,
    body {
        background-color: var(--bg-background-primary);
    }
}